img {
  border-style: none;
}

body {
  width: 100%;
  height: 100%;
  background-color: pink;
  margin: auto;
  font-family: "Balsamiq Sans", cursive;
}

.center{
    width: 1050px;
    margin: 0 auto;
  }

